@import "../../../main-styles.scss";

.task-manager-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 65%; /*I can play with these values later to see what looks best*/
  max-height: 80%;
}

/*
overflow is a combination of overflow-x and overflow-y. If you only need to add
scrollbars for vertical overflow, only take overflow-y: scroll; If you dont want
to see the scrollbar when content small, try overflow: auto.
src: https://stackoverflow.com/a/37257058/12021580
*/
.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  background: white;
  padding: 42px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow-y: scroll;
}

.tasks-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /*use remaining width thats available*/
  padding: 42px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.title {
  font-family: "Lato"; /*Find better font*/
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*scss allows you to nest these*/
.list-menu {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  flex-grow: 1; /*Take up remaining height*/

  .list-menu-item {
    display: flex;
    align-items: center;
    padding: 10px, 15px;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    color: #5f5f5f;
    margin-bottom: 10px;

    &:hover {
      background: $light; /*Variable we defined in main-styles.scss*/
    }
    /*When it has class is-active*/
    &.is-active {
      background: #cff8ef;
      color: $dark-green;
    }
  }
}

/*Will leave like this for now, I think he comes back to it later*/
.task {
  background: white;
  padding-left: 20px;
  padding-top: 15px;
  border-radius: 5px;
  margin-top: 10px;

  /*Not sure how he got the height to work, he didn't have height:*/
  height: 50px;

  &:not(.complete) {
    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease;

    &:active {
      /*On click*/
      transform: scale(0.95);
    }

    &:hover {
      box-shadow: 0 0 5px #eeeeee;
    }
  }

  &.complete {
    text-decoration: line-through;
    opacity: 80%;
  }
}

/*By adding position: relative; to the .tasks-list-container this css
 allows the button to be in responsive in the corner of the Task list box */
.circle-add-button {
  position: absolute;
  bottom: 35px;
  right: 35px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
