<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar has-background-white">
      <!--has-background-white is a bulma class-->
      <h1 class="title has-text-primary">
        Lists
      </h1>
      <div class="list-menu">

        <a class="list-menu-item" *ngFor="let l of lists" [routerLink]="['/lists', l._id]" routerLinkActive="is-active">
          <p>{{l.title}}</p>
        </a>
      </div>

      <!--class="button" is a bulma class-->
      <button class="button is-primary has-text-white" routerLink="/new-list" routerLinkActive="router-link-active">+
        New List</button>
    </div>


    <div class="tasks-list-container has-background-light">
      <h1 class="title has-text-primary">
        Tasks
      </h1>
      <!--Task elements-->
      <div class="task complete" *ngFor="let t of tasks">
        {{t.title}}
      </div>

    </div>
  </div>
</div>
